@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&family=Pacifico&family=Raleway:wght@200;300;400;500&family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&family=Pacifico&family=Raleway:wght@200;300;400;500&family=Rubik:wght@600;900&family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Open+Sans:wght@400;600&family=Pacifico&family=Raleway:wght@200;300;400;500&family=Rubik:wght@600;900&family=Source+Sans+Pro:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

h2 {
  font-family: "Rubik", sans-serif;
  font-size: 52px;
  color: #000000;
  font-weight: 700; }

h3 {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  font-weight: 300;
  color: #585757; }

P {
  color: #7c7c7b;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin-top: 10px;
  text-align: center; }

.botones {
  margin-top: 40px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }

.botones:hover {
  cursor: pointer;
  background-color: #272727; }

section {
  padding: 30px;
  overflow: hidden;
  text-align: center; }

/*header*/
header {
  height: 95vh;
  width: 100%;
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  background: linear-gradient(to bottom, rgba(67, 67, 67, 0.7), rgba(0, 0, 0, 0.3)), url(../img/header6.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  border-radius: 0 0 1.5% 1.5%; }
  header h2 {
    font-size: 50px;
    font-family: "Rubik", sans-serif;
    margin-top: 100px;
    font-weight: 600;
    color: white;
    text-transform: uppercase; }
  header h1 {
    font-size: 100px;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    opacity: 900;
    margin-bottom: 30px;
    font-weight: 700; }
  header p {
    font-size: 22px;
    opacity: 900;
    font-weight: 800;
    color: white; }
  header .logo {
    border-radius: 50px;
    width: 100px; }
  header .nav-link {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin: 0 0.5rem; }
  header .nav-link:hover {
    color: #000000;
    background-color: #ffff;
    border-radius: 30px;
    padding: 5px; }

/*Quienes somos incio*/
.quienessomos {
  height: 500px;
  margin: 0; }

/*Nuestras Harinas*/
.nuestrasharinas {
  height: 95vh;
  width: 100%;
  border-radius: 1.5% 1.5% 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid black; }
  .nuestrasharinas .harinass {
    display: grid;
    width: 90%;
    height: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto; }
    .nuestrasharinas .harinass a {
      width: 60%;
      height: 90%;
      margin: auto;
      text-decoration: none;
      color: #000;
      text-transform: uppercase;
      font-weight: bold;
      font-size: "Rubik", sans-serif;
      font-size: 1.3rem; }
      .nuestrasharinas .harinass a img {
        width: 100%;
        height: 300px;
        margin: 0 auto;
        border-radius: 1.5%; }

/*nutricion animal*/
.nutricionanimal {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 55vh;
  background-image: url(../img/nutricion12.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  border-radius: 0% 0% 1.5% 1.5%; }
  .nutricionanimal p {
    color: #ffff;
    font-weight: 900;
    font-size: 20px;
    opacity: 20; }

/*puntos de ventas*/
.puntosdeventas {
  width: 100%;
  height: 85vh;
  background: #000000;
  background: -webkit-linear-gradient(to bottom, rgba(33, 33, 33, 0.18), rgba(180, 180, 180, 0.15));
  background: linear-gradient(to bottom, rgba(33, 33, 33, 0.18), rgba(180, 180, 180, 0.15));
  margin: auto;
  overflow: hidden;
  border-radius: 1.5% 1.5% 1.5% 1.5%; }
  .puntosdeventas .puntoslocalizacion {
    display: flex;
    width: 80%;
    height: 75%;
    justify-content: center;
    align-items: center;
    margin: auto; }
    .puntosdeventas .puntoslocalizacion .puntosventasimg {
      width: 45%;
      height: 100%;
      margin: auto;
      margin-top: 40px;
      overflow: hidden;
      margin-right: 0; }
      .puntosdeventas .puntoslocalizacion .puntosventasimg img {
        width: 300px;
        height: 120%;
        border-radius: 5%; }
    .puntosdeventas .puntoslocalizacion .provincias {
      width: 45%;
      height: 100%;
      margin: auto;
      margin-top: 40px;
      text-transform: uppercase;
      text-align: left;
      font-weight: 800;
      font-family: 'Montserrat', sans-serif; }
      .puntosdeventas .puntoslocalizacion .provincias ul {
        margin: 15px; }
        .puntosdeventas .puntoslocalizacion .provincias ul li {
          margin-top: 9px;
          margin-left: 100px;
          list-style: disc; }
      .puntosdeventas .puntoslocalizacion .provincias p {
        text-align: left;
        margin-left: 120px;
        font-weight: 800;
        color: #000000;
        text-decoration: underline; }

/*servicios*/
.servicios {
  width: 100%;
  height: 80vh;
  margin: auto;
  overflow: hidden;
  border-top: 1px solid black; }
  .servicios .nuestrosservicios {
    display: flex;
    width: 80%;
    height: 70%;
    justify-content: center;
    align-items: center;
    margin: auto; }
    .servicios .nuestrosservicios .servicios1 {
      width: 45%;
      height: 90%;
      margin: auto;
      margin-top: 50px; }
      .servicios .nuestrosservicios .servicios1 p {
        text-align: left;
        font-weight: 900;
        font-size: 18px; }
    .servicios .nuestrosservicios ul li svg {
      width: 18px; }
    .servicios .nuestrosservicios ul {
      margin: 15px;
      text-align: left; }
      .servicios .nuestrosservicios ul li {
        margin: 20px;
        font-size: 18px; }
    .servicios .nuestrosservicios .servicios2 {
      width: 45%;
      height: 90%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      .servicios .nuestrosservicios .servicios2 img {
        width: 80%;
        height: 90%;
        border-radius: 3%;
        margin-top: 50px; }

/*contacto*/
.contacto {
  width: 90%;
  height: 75vh;
  margin: auto;
  overflow: hidden; }
  .contacto .contactoinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 75%;
    margin: auto; }
    .contacto .contactoinfo .infoempresa {
      width: 30%;
      height: 70%;
      margin: auto; }
      .contacto .contactoinfo .infoempresa svg {
        width: 18px;
        margin: 10px 0; }
      .contacto .contactoinfo .infoempresa p {
        text-align: left;
        display: flex;
        align-items: center; }
    .contacto .contactoinfo .formulariocontacto {
      width: 50%;
      height: 90%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      .contacto .contactoinfo .formulariocontacto .forminput {
        width: 95%;
        height: 90%; }
        .contacto .contactoinfo .formulariocontacto .forminput input {
          width: 40%;
          height: 50px;
          display: inline-block;
          margin: 25px 0; }
        .contacto .contactoinfo .formulariocontacto .forminput textarea {
          width: 80%;
          height: 50%; }
        .contacto .contactoinfo .formulariocontacto .forminput textarea:hover {
          cursor: pointer; }
        .contacto .contactoinfo .formulariocontacto .forminput .forminput input:hover {
          cursor: pointer; }

/*footer*/
footer {
  width: 100%;
  height: 45vh;
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  background: linear-gradient(to bottom, rgba(67, 67, 67, 0.9), rgba(0, 0, 0, 0.6)), url(../img/header1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  border-radius: 2% 2% 0 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer .footer {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    footer .footer .logofooter {
      width: 15%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 50px; }
      footer .footer .logofooter img {
        width: 75%;
        height: 100%;
        border-radius: 50%; }
    footer .footer .navfooter {
      width: 15%;
      height: 90%;
      display: flex;
      justify-content: right;
      align-items: center; }
      footer .footer .navfooter ul li {
        margin: 15px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px; }
        footer .footer .navfooter ul li a {
          color: white;
          font-weight: 900;
          opacity: 8;
          margin: 1px; }
      footer .footer .navfooter ul li a:hover {
        text-decoration: underline;
        text-transform: uppercase; }
    footer .footer .infofooter {
      width: 50%;
      height: 90%;
      text-align: center; }
      footer .footer .infofooter h3 {
        color: white;
        display: inline-block;
        margin-bottom: 15px;
        font-weight: 800; }
      footer .footer .infofooter p {
        color: white;
        font-weight: bolder;
        font-size: 18px; }

@media (max-width: 575px) {
  * h2 {
    font-size: 25px; }
  * h3 {
    font-size: 20px; }
  /*header*/
  header h1 {
    font-size: 70px; }
  header h2 {
    font-size: 35px; }
  header p {
    font-size: 16px;
    padding: 0 15px; }
  /*harinas*/
  .nuestrasharinas {
    width: 100%;
    height: 100%; }
    .nuestrasharinas p {
      font-size: 0.8rem; }
    .nuestrasharinas .harinass {
      width: 90%;
      height: 90%;
      display: block;
      margin: auto; }
      .nuestrasharinas .harinass a {
        width: 100%;
        height: 100%; }
        .nuestrasharinas .harinass a img {
          width: 100%;
          height: 100%; }
  /*quienessomos*/
  .quienessomos a {
    display: none; }
  .quienessomos p {
    font-size: 1rem; }
  /*nutricionanimal*/
  .nutricionanimal p {
    display: none; }
  .nutricionanimal .botones {
    margin: 1rem;
    padding: 1rem; }
  /*servicios*/
  .servicios {
    height: 55rem; }
    .servicios .nuestrosservicios .servicios1 {
      width: 100%;
      height: 100%;
      display: block;
      margin: auto; }
      .servicios .nuestrosservicios .servicios1 .parrafoservicios p {
        font-size: 0.8rem;
        text-align: center; }
      .servicios .nuestrosservicios .servicios1 ul li svg {
        width: 12px; }
    .servicios .nuestrosservicios .servicios2 {
      display: none; }
  /*puntosventas*/
  .puntosdeventas {
    width: 100%;
    height: 700px; }
    .puntosdeventas .puntoslocalizacion {
      width: 90%;
      display: block; }
      .puntosdeventas .puntoslocalizacion .puntosventasimg {
        width: 100%;
        margin: auto;
        margin-top: 10px; }
        .puntosdeventas .puntoslocalizacion .puntosventasimg img {
          width: 100%;
          height: 100%; }
      .puntosdeventas .puntoslocalizacion .provincias p {
        width: 100%;
        height: auto;
        text-align: center;
        margin: auto;
        font-size: 1rem; }
      .puntosdeventas .puntoslocalizacion .provincias ul {
        display: none; }
  /*contacto*/
  .contacto {
    width: 100%;
    height: 500px;
    padding: 10px 0; }
    .contacto .contactoinfo {
      width: 100%;
      width: 100%; }
      .contacto .contactoinfo .infoempresa {
        display: none; }
      .contacto .contactoinfo .formulariocontacto {
        width: 100%;
        height: 100%; }
        .contacto .contactoinfo .formulariocontacto .forminput input {
          width: 45%;
          height: 50px; }
        .contacto .contactoinfo .formulariocontacto .forminput textarea {
          width: 90%;
          height: 50%; }
  /*footer*/
  footer {
    width: 100%;
    height: 22rem;
    margin: auto; }
    footer .footer {
      width: 95%;
      height: 95%;
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .footer .logofooter img {
        width: 8rem;
        height: 8rem; }
      footer .footer .navfooter {
        display: none; }
      footer .footer .infofooter {
        width: 40%;
        height: 100%;
        display: inline-block;
        margin: auto;
        margin-top: 1rem¿; }
        footer .footer .infofooter p {
          font-size: 0.8rem; } }

/*transformacion y transition*/
header {
  filter: grayscale(100%);
  transition: all 1.5s; }

header:hover {
  filter: grayscale(0);
  transform: scale(1); }
